In [6]:
print("Hello World")

Hello World

In [7]:
import time
time.sleep(3)

In [8]:
def say_hello(recipient):
    return 'Hello, {}!'.format(recipient)

say_hello('Momme')

'Hello, Momme!'

In [10]:
import numpy as np
def square(x):
    return x * x

In [11]:
x = np.random.randint(1, 10)
y = square(x)
print('%d squared is %d' % (x, y))

9 squared is 81

In [15]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [16]:
url="https://raw.githubusercontent.com/pssguy/fortune500/master/fortune500.csv"
r = requests.get(url)
open('fortune500.csv', 'wb').write(r.content)
df = pd.read_csv('fortune500.csv')

In [17]:
df.head()

,lon,lat,company,location,industry,state,city
0,-94.2088,36.3729,Walmart,"Bentonville, AR",General Merchandisers,AR,Bentonville
1,-96.9489,32.8140,Exxon Mobil,"Irving, TX",Petroleum Refining,TX,Irving
2,-121.9780,37.7799,Chevron,"San Ramon, CA",Petroleum Refining,CA,San Ramon
3,-95.9980,41.2524,Berkshire Hathaway,"Omaha, NE",Insurance: Property and Casualty (Stock),NE,Omaha
4,-122.0320,37.3230,Apple,"Cupertino, CA","Computers, Office Equipment",CA,Cupertino

In [18]:
df.tail()

,lon,lat,company,location,industry,state,city
995,-73.7629,41.0340,Universal American,"White Plains, NY",Health Care: Insurance and Managed Care,NY,White Plains
996,-87.9790,41.9634,AAR,"Wood Dale, IL",Aerospace and Defense,IL,Wood Dale
997,-74.7524,41.1465,Selective Insurance Group,"Branchville, NJ",Insurance: Property and Casualty (Stock),NJ,Branchville
998,-73.5387,41.0534,Gartner,"Stamford, CT",Information Technology Services,CT,Stamford
999,-74.0059,40.7128,E*Trade Financial,"New York, NY",Securities,NY,New York

In [23]:
df.loc[df['state'] == 'NY']

,lon,lat,company,location,industry,state,city
14,-74.0059,40.7128,Verizon,"New York, NY",Telecommunications,NY,New York
20,-74.0059,40.7128,JP Morgan Chase,"New York, NY",Commercial Banks,NY,New York
23,-73.7140,41.1265,IBM,"Armonk, NY",Information Technology Services,NY,Armonk
27,-74.0059,40.7128,Citigroup,"New York, NY",Commercial Banks,NY,New York
38,-74.0059,40.7128,MetLife,"New York, NY","Insurance: Life, Health (stock)",NY,New York
...,...,...,...,...,...,...,...
976,-74.0059,40.7128,G-III Apparel Group,"New York, NY",Apparel,NY,New York
977,-78.7378,42.9639,National Fuel Gas,"Williamsville, NY",Utilities: Gas and Electric,NY,Williamsville
980,-74.0059,40.7128,RCS Capital,"New York, NY",Securities,NY,New York
995,-73.7629,41.0340,Universal American,"White Plains, NY",Health Care: Insurance and Managed Care,NY,White Plains
999,-74.0059,40.7128,E*Trade Financial,"New York, NY",Securities,NY,New York

In [24]:
df.rename(columns={'industry': 'INDUSTRY'})

,lon,lat,company,location,INDUSTRY,state,city
0,-94.2088,36.3729,Walmart,"Bentonville, AR",General Merchandisers,AR,Bentonville
1,-96.9489,32.8140,Exxon Mobil,"Irving, TX",Petroleum Refining,TX,Irving
2,-121.9780,37.7799,Chevron,"San Ramon, CA",Petroleum Refining,CA,San Ramon
3,-95.9980,41.2524,Berkshire Hathaway,"Omaha, NE",Insurance: Property and Casualty (Stock),NE,Omaha
4,-122.0320,37.3230,Apple,"Cupertino, CA","Computers, Office Equipment",CA,Cupertino
...,...,...,...,...,...,...,...
995,-73.7629,41.0340,Universal American,"White Plains, NY",Health Care: Insurance and Managed Care,NY,White Plains
996,-87.9790,41.9634,AAR,"Wood Dale, IL",Aerospace and Defense,IL,Wood Dale
997,-74.7524,41.1465,Selective Insurance Group,"Branchville, NJ",Insurance: Property and Casualty (Stock),NJ,Branchville
998,-73.5387,41.0534,Gartner,"Stamford, CT",Information Technology Services,CT,Stamford
999,-74.0059,40.7128,E*Trade Financial,"New York, NY",Securities,NY,New York